html,
html body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  background-color: black;
  margin: 0;
  padding: 0;
}

#addams-title,
#the {
  font-family: "Creepster", cursive;
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 10;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

#the {
  font-size: 3rem;
  top: 22%;
  left: -23%;
}

#addams-title {
  font-size: 3.5rem;
  top: 32%;
}

#image-container {
  height: 100vh;
  width: 100vw;
  background: url("https://i.ibb.co/MkvcPw1/A-dimly-lit-grand-entrance-hall-of-a-gothic-Victorian-mansion-The-space-is-filled-with-ornate-and-da.png")
    no-repeat center center;
  background-size: cover;
  max-width: 500px;
  position: relative;
}

#image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    black 0%,
    rgba(0, 0, 0, 0.46) 30%,
    transparent 100%
  );
  display: block;
  z-index: 2;
  animation: glowBackground 2s infinite;
}

#chandelier-container {
  position: static;
  transform: translateY(-40%);
  z-index: 5;
}

#image-container #chandelier {
  height: 85vh;
  width: auto;
  clip-path: inset(13% 0 0 0);
}

@keyframes glow {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(250%);
  }
  100% {
    filter: brightness(80%);
  }
}

@keyframes glowBackground {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#character-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#character-container img {
  position: absolute;
  height: 40vh;
  width: auto;
  transition: opacity 1.5s ease, box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

#gomez {
  left: 40%;
  top: -120%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

#morticia {
  left: 58%;
  top: -100%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

#wednesday {
  max-height: 30vh;
  left: 47%;
  top: -47%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#pugsley {
  max-height: 33vh;
  left: 72%;
  top: -75%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#grandmama {
  left: 90%;
  top: -115%;
  transform: translate(-50%, -50%);
  z-index: 8;
}

#uncleFester {
  left: 75%;
  top: -115%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

#lurch {
  min-height: 45vh;
  width: auto;
  left: 53%;
  top: -155%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

#thing {
  max-height: 9vh;
  left: 63%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 15;
}

#cousinIt {
  left: 25%;
  top: -100%;
  transform: translate(-50%, -50%);
  z-index: 8;
}

.modal-content {
  background-color: #1a1a1a;
  border: 2px solid #ff6347;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 99, 71, 0.5);
  transform: scale(0.8);
  opacity: 0;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-title {
  font-family: "Creepster", cursive;
  color: #ff6347;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.modal-body {
  font-family: "Creepster", cursive;
  color: #ffffff;
}

.modal-body ul li {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #ff6347;
}

.modal-footer .btn-secondary {
  background-color: #ff6347;
  border: none;
  font-family: "Creepster", cursive;
  color: #1a1a1a;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-footer .btn-secondary:hover {
  background-color: #e5533d;
}

.btn-close-white {
  filter: invert(1);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.modal-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://i.ibb.co/yk15TL0/A-Halloween-background-of-only-shapes-and-colors-that-reflect-a-sleek-modal-background-414727332.png")
    repeat;
  background-size: cover;
  opacity: 0.1;
  pointer-events: none;
  border-radius: 15px;
}

.modal-content.light-mode {
  background-color: #ffffff;
  color: #1a1a1a;
  border: 2px solid #ff6347;
}

.modal-content.light-mode .modal-title {
  color: #ff6347; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}

.modal-content.light-mode .modal-body {
  color: #1a1a1a;
}

.modal-content.light-mode .modal-body ul li {
  color: #ff6347;
}

@media only screen and (min-width: 796px) {
  #chandelier-container {
    transform: translateY(-35%);
  }
}
